.App {
    padding: 30px;
    display: flex;
    color: darkblue;
}

.App > div {
    margin-right: 50px;
}

.Todolist {
    border: 2px solid hotpink;
    border-radius: 5px;
    padding: 20px;
    background-color: cadetblue;

}
